<!DOCTYPE html>
<html>
<head>
  <title>LoveBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'site.ico' %>
</head>
<body>
<!-- Render navigation bar -->
<%= render "layouts/navigation" %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container-fluid">
  <%= yield %>
</div>
<%= audio_tag "bruno_mars_grenade_original_(NaitiMP3.ru).mp3", id: "sound", class: "audio-to-play", autoplay: false%>
</body>
</html>
